.gradle/
.idea/
gradle/
out/
tmp/
src/tGroupWeb/yarn.lock
src/tGroupWeb/yarn-error.log
src/tGroupWeb/dist/
src/tGroupWeb/node_modules/
src/seGroupAngular/node_modules/
src/seGroupAngular/yarn.lock
src/seGroupAngular/SEGroupAngularApp/yarn.lock
src/seGroupAngular/SEGroupAngularApp/.vscode/
src/seGroupAngular/SEGroupAngularApp/e2e/
