<sui-sidebar-container>
  <sui-sidebar class="vertical" transition="uncover" direction="left" #sidebar>
    <div (onItemSelected)="sidebar.close()">
      <SEGroup-main-menu></SEGroup-main-menu>
    </div>
  </sui-sidebar>
  <sui-sidebar-sibling [isDimmedWhenVisible]="true">
    <div class="full height">
      <div class="article">
        <div class="ui top attached menu">
          <a class="launch icon item" (click)="sidebar.open()">
            <i class="content icon"></i>
          </a>
          <a class="item" routerLink="/start">
            Start
          </a>
          <a class="item" routerLink="/terms">
            Terms
          </a>
          <a class="item" routerLink="/se-classes">
            Classes
          </a>
          <a class="item" routerLink="/students">
            Students
          </a>
          <a class="item" routerLink="/assignments">
            Assignments
          </a>
          <a class="item" routerLink="/solutions">
            Solutions
          </a>
        </div>
      </div>
      <div class="ui basic segment">
        <div class="ui centered padded grid container">
          <h3 text-align: center>Welcome to SEGroup App</h3>
          <p class="ui row">
            <button class="ui button" (click)="syncAction()">Sync</button>
          </p>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </sui-sidebar-sibling>
</sui-sidebar-container>