<h3>
  SE Classes:
</h3>
<p style="text-align:center">
  <a class="ui button" routerLink="/se-class-edit" >
    Add new SEClass
  </a>
</p>
<h3> </h3>
<div>
  <table class="ui sortable unstackable celled table" colspan="10" >
    <tbody>
      <tr *ngFor="let seClass of classes">
        <td class="eight wide" data-label="Topic">{{seClass.topic}}</td>
        <td class="one wide" data-label="Term">{{seClass.term}}</td>
        <td class="one wide center aligned" data-label="Del">
          <button class="ui button" (click)="removeSEClass(seClass)">X</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>