<div class="ui centered padded grid container">
  <h4 class="ui row">
    SE Classes of {{currentTerm.name}}:
  </h4>
  <p class="ui row">
    <a class="ui button" routerLink="/se-class-edit">
      New SEClass
    </a>
    <a class="ui button" routerLink="/se-class-edit">
      New Folder
    </a>
  </p>
  <div class="ui row">
    <table class="ui single line sortable unstackable celled collapsing table">
      <tbody>
        <tr *ngFor="let seClass of classes">
          <td data-label="Topic">{{seClass.topic}}</td>
          <td class="center aligned" data-label="Term">{{seClass.term}}</td>
          <td class="center aligned" data-label="Del">
            <button class="ui button" (click)="removeSEClass(seClass)">X</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>