<div class="ui centered padded grid container">
  <div class="ui row">
    <div class="ui input" style="text-align: center">
      <input [(ngModel)]="topic" type="text" placeholder="Topic..." autofocus>
    </div>
  </div>
  <div class="ui row">
    <div class="ui input">
      <input class="ui input" [(ngModel)]="term" type="text" placeholder="Term...">
    </div>
  </div>
  <div class="ui row">
    <button class="ui button" (click)="okAction()">
      OK
    </button>
    <button class="ui button" (click)="cancelAction()">
      Cancel
    </button>
  </div>
</div>