<div class="ui centered padded grid container">
  <h4 class="ui row">
    Assignments {{currentClass.topic}} {{currentTerm.name}}:
  </h4>
  <p class="ui row">
    <a class="ui button" routerLink="/assignment-edit">
      New Assignment
    </a>
  </p>
  <div class="ui row">
    <table class="ui single line sortable unstackable celled collapsing table">
      <tbody>
        <tr *ngFor="let assign of assignments">
          <td class="center aligned selectable" data-label="Task" (click)="gotoSolutions(assign)"><a>{{assign.task}}</a></td>
          <td class="center aligned selectable" data-label="Del"><a (click)="removeAssignment(assign)">X</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>