<div class="ui centered padded grid container">
    <h4 class="ui row">
      Solutions of {{currentAssignment.task}} {{currentClass.topic}} {{currentTerm.name}}:
    </h4>
    <div class="ui row">
      <table class="ui single line sortable unstackable celled collapsing table">
        <tbody>
          <tr *ngFor="let solution of solutions">
            <td class="center aligned" data-label="Student" (click)="gotoSolution(solution)">{{solution.achievement.student.name}} {{solution.achievement.student.studentId}}</td>
            <td class="center aligned selectable" data-label="giturl"><a>{{solution.achievement.gitUrl}}</a></td>
            <td class="center aligned" data-label="grade">{{solution.points}}</td>
            <td class="center aligned selectable" data-label="Del"><a (click)="removeSEClass(seClass)">X</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>